<%- include('./../layouts/header.ejs') -%>
<body>
  <%- include('./../layouts/mainHeader.ejs') -%>
      <%- include('./prelogin-nav.ejs') -%>
 <main>
    <div>
    <img src="/public/Images/heroImage.webp" alt="heroImage" height="500px" width="100%">
</div>
<h4 class="about">About</h4>
<p class="p-2">Welcome to Blog Management, your all-in-one solution for effortless blogging. Whether you're a seasoned blogger or just starting out, our platform is designed to simplify the process of creating, managing, and sharing your content. Our mission is to empower individuals and businesses by providing an intuitive and feature-rich environment that streamlines blog management tasks, allowing you to focus on what truly matters—your voice and your message. With a user-friendly interface, powerful tools, and seamless integration with social media, Blog Management is here to help you grow your audience and enhance your online presence. Join us on this journey to make blogging easier, more enjoyable, and more impactful.</p>
 </main>
 <%- include('./../layouts/footer.ejs'); -%>
</body> 