<%- include('./../layouts/header.ejs') -%>

    <%- include('./../layouts/mainHeader.ejs') -%>
        <%- include('./prelogin-nav.ejs') -%>
            <main>
                <h1 class="text-center mb-3">Contact Me</h1>
                <div class="form-margin-20 d-flex justify-content-center">
                    <div class="card card-height">
                        <div class="card-body">
                            <div>
                                <p><strong>Name:</strong>
                                   <span class="ps-1">Sruthi Kamisetti</span> </p>
                            </div>
                            <div>
                                <p><strong>Email:</strong> 
                                    <span class="ps-1">sruthishetti.1995@gmail.com</span>
                                </p>
                            </div>
                            <div>
                                <p><strong>Phone:</strong>
                                    <span class="ps-1">647-624-1003</span></p>
                            </div>
                            <div>
                               <p><strong>City:</strong>
                               <span class="ps-1">Waterloo</span></p>
                            </div>
                            <div>
                                <p> <strong>Province:</strong>
                                    <span class="ps-1">Ontario</span></p>
                             </div>
                            
                        </div>
                    </div>
                </div>

                <%- include('./../layouts/footer.ejs'); -%>
            </main>