<%- include('./../layouts/header.ejs') -%>

    <%- include('./../layouts/mainHeader.ejs') -%>
        <%- include('./prelogin-nav.ejs') -%>
            <main>
                <div class="form-margin-20 d-flex justify-content-center">
                    <div class="card">
                        <div class="card-body">
                            <h3>Introduction</h3>
                            <p>Welcome to the "Team" page of my project! Although this project is an individual effort,
                                I believe it's important to showcase the dedication and passion that has gone into
                                bringing it to life.
                            </p>
                            <div>
                                <h3>Profile Section</h3>
                                <div>
                                    <p><strong>Name:</strong>
                                        <span class="ps-1">Sruthi Kamisetti</span>
                                    </p>
                                </div>
                                <div>
                                    <p><strong>Email:</strong>
                                        <span class="ps-1">sruthishetti.1995@gmail.com</span>
                                    </p>
                                </div>
                                <div>
                                    <p><strong>Phone:</strong>
                                        <span class="ps-1">647-624-1003</span>
                                    </p>
                                </div>
                                <div>
                                    <h3>Project Role and Responsibilities:</h3>
                                    <p> As the sole contributor to this project, I have undertaken multiple roles
                                        including:</p>
                                    <ul>
                                        <li>Design and Development:Creating the website/blog structure, designing the
                                            layout, and
                                            implementing functionality.</li>
                                        <li>Research and Analysis:Conducting thorough research to ensure the project
                                            meets
                                            industry standards and user needs.</li>
                                        <li>Content Creation:Writing and editing content for various pages/posts, and
                                            managing
                                            multimedia elements.</li>
                                        <li>Project Management:Overseeing the project timeline, setting milestones, and
                                            ensuring
                                            timely completion of tasks.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('./../layouts/footer.ejs'); -%>
            </main>