

header{
    padding: 20px;
    border: 1px solid black;
}

.logo{
height: 50px;
border-radius: 60px;
border: 1px solid black;
}
.display-flex{
    display: flex;
}
.heading{
   margin: 5px 20px;
   font-style: italic;
}
/* p{
    padding: 10px;
} */
.about{
    text-align: center;
    padding: 30px;
}

