<%- include('./../layouts/header.ejs') -%>
    <%- include('./../layouts/mainHeader.ejs') -%>
        <%- include('./postlogin-nav.ejs') -%>
            <main>
                <div class="card dasboard-main-content text-center">
                    <div class="card-body">
                        <h5 class="card-title">Welcome</h5>
                        <p class="card-text">Hello welcome to dashboard!. Please use navigation bar for accessing</p>
                    </div>
                </div>
                <%- include('./../layouts/footer.ejs') -%>
            </main>